@font-face{
	font-family: ubuntuRegular;
	src: url('../ttf/Ubuntu-R.ttf') format('truetype');
	}

	@font-face{
	font-family: ubuntuBold;
	src: url('../ttf/Ubuntu-B.ttf') format('truetype');
	}

	@font-face{
	font-family: ubuntuBoldItalic;
	src: url('../ttf/Ubuntu-BI.ttf') format('truetype');
	}

	@font-face{
	font-family: ubuntuItalic;
	src: url('../ttf/Ubuntu-I.ttf') format('truetype');
	}

	/*Animación barra errores*/ 
	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	* {
		margin: 0px;
		padding: 0px;
		outline: none;
		text-decoration: none;
	}

	#pedidosForm label.error {
		text-align: left;
		color: white;
		width: 18%;
		margin-left: 5px;
		font-style: italic;
	}

	body {
		background: rgba(200,145,90,0.8);
		font-family: ubuntuRegular;
		width: 99%;
		margin: 0 auto;
		max-width: 1350px;
		font-size: 100%;
	}	

	#cantidad {
		//width: 69px;
	}

	#contenedor {
		min-height: 630px;
	}	

	.success p{
		animation-name: fadeOut;
		animation-duration: 3s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
		font-family: ubuntuItalic;
		text-align: center; 
		background: green;
		color: white;
		width: 70%;	
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
	}

	.error p {
		animation-name: fadeOut;
		animation-duration: 3s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
		font-family: ubuntuItalic;
		text-align: center; 
		background: red;
		color: white;
		width: 70%;	
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
	}

	form {
		//margin-top: -15px;
		margin-bottom: 15px;
	}

	input[type="checkbox"] {
		margin-left: 40px;
	}

	input:focus {
		background-color: #e8d854;
		border-radius: 5px;
	} 

	input[type="text"], [type="password"], [type="date"], [type="email"], [type="tel"], [type="radio"], select {
		margin-bottom: 7px;
		margin-top: 7px;
		font-family: ubuntuRegular;
		font-size: 16px;
		padding: 2px;
		border-radius: 5px;
	}

	input[type="submit"], [type="button"], [type="reset"], button[type="submit"], .button {
		font-family: ubuntuRegular;
		font-size: 16px;
		outline: none;
		text-decoration: none;
		border-radius: 5px;
		border: 1px solid white;
		margin: 5px;
		padding: 3px;
		background: rgb(175,100,50);
		background: linear-gradient(rgb(200,147,97), rgb(175,100,50));
		color: white;
		transition: transform .5s;
	}

	input[type="submit"]:hover, [type="button"]:hover, [type="reset"]:hover, button[type="submit"]:hover, .button:hover {
	border: 1px solid rgba(175, 100, 50, 1);
	box-shadow: 0 0 4px white;
	transform: scale(1.1);
}

	.footer {
		margin-top: 30px;
		text-align: center;
	}	

	#messages {
		margin-bottom: 15px;
	}

	label {
		display: inline-block;
		width: 100px;
		text-align: right;
	}

	.label1 {
		display: inline-block;
		margin-left: 6px;
	}

	.label1bis {
		margin-left: 13px;
		width: 100px;
	}

	label.label2 {
		width: 70px;
	}
	
	label.label3 {
		margin-left: 13px;
		width: 70px;
	}

	h1 {
		font-size: 2em;
		margin-top: 15px;
		margin-bottom: 40px;
		text-align: center;
		transform: translate(0px, 20px);
	}

	h2 {
		font-size: 1.5em;
	}
	
	h3 {
		font-size: 1.17em;
		text-align: center;
		font-style: oblique;
	}
	
	h4 {
		 font-size: 1em;
	}

	h5 {
		font-size: .83em;
	}

	h6 {
		font-size: .67em;
	}		

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	fieldset {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		text-align: right;
		border: none;
	}

	.pdf {
		transition: transform .5s;
	}

	.pdf:hover {
		transform: scale(1.2);	
		box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.6);
		border-radius: 0 25px 0 0;
	}

	select {
		font-family: ubuntuRegular;
		font-size: 16px;
		border-radius: 5px;
		padding: 2px;
		background-color: #f2f1f0;
	}

	.margen {
		margin-left: 3px;
		margin-right: 1px;
	}

	label.margen3 {
		margin-right: 1px;
	}

	.margen4 {
		margin-left: 3px;
		margin-right: 1px;
	}

	form .margen5 {
		margin-left: 3.2%;
	}

	span.error {
		color: white;
		font-style: oblique;
		text-align: left;
		margin-left: 5px;
	}

	.error_narrow {
		color: white;
		font-style: oblique;
		text-align: left;
		margin-left: 5px;
		width: 180px;
	}

	.icon_search {			
		width: 25px;
		height: 20px;
		border-radius: 5px;						
	}	

	#icon_search:hover {
		transform: scale(1.0);
	}

	.numCliente {
		width: 170px;
	}

	.newOrderRowsCheck {
		display: none;
	}

	.showInMovil, label.showInMovil {
		display: none;
	}

	label.margen2 {
		margin-left: 12px;
	}

	img.trashCall {
		width: 2%;
		vertical-align: middle;
		margin-left: 2%;
	}

	.selectCallcenter {
		margin-bottom: 15px;
	}

	#pedidosForm #bastidor_error {
		margin-bottom: 20px;
		color: red;
	}

	.labelTipoCliente {
		width: 10%;
	}

	#new_client select {
		width: 9%;
	}

	.error {
		color: white;
		font-style: oblique;
	}

	.callcenterOrder {
		margin-left: 8%;
		width: 80%;
		resize: none;
	}

	#nombre_via {
		width: 40%;
	}

	#localidad, #provincia {
		width: 25%;
	}

	.call_order_labels_head_descr, .call_order_labels_head_ref, .call_order_labels_head_cant, .call_order_labels_head_pvp, 
	.call_order_labels_head_dto, .call_order_labels_head_neto, .call_order_labels_head_stock {
		text-align: center;
	}

	.call_order_labels_head_descr {		
		width: 26%;	
	}
	
	.call_order_labels_head_ref {
		width: 12.4%;		
	}

	.call_order_labels_head_cant {
		width: 4.5%;
	}

	.call_order_labels_head_pvp, .call_order_labels_head_neto, .call_order_labels_head_stock {
		width: 6%;
	}

	.call_order_labels_head_dto {
		width: 3.7%;
	}	

	form p.nota {
		margin-bottom: 25px;
	}

	#lineas input[type="text"] {
		margin: 0px;
		//margin-bottom: 2px;
	}

	/*CSS para cuando se agregan líneas al formulario de Pedidos de Cliente*/
	#agregaLinea input[type="text"] {
		margin-right: 3px;
		margin-bottom: 2px;
	}
	
	#agregaLinea input[type="text"].margen {
		margin-right: 4px;
	}

	#agregaLinea input[type="text"].margen4 {
		margin-right: 4px;
	}

	#agregaLinea input[type="text"].dto {
		margin-right: 3px;
	}

	#agregaLinea .margen5 {
		margin-left: 3%;
	}

	/*CSS para totales del formulario de Pedidos de Cliente*/
	.totales {
		margin: 0px;
		margin-top: 10px;
	}

	.totales input[type="text"]{
		margin: 0px;
		margin-left: 5px;
		margin-bottom: 3px;
	}

	/******** MODAL **************/
	.modal {
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;	
		background-color: rgba(153, 153, 153, 0.7);
		border-radius: 5px;	
	}

	.modal-content {
		background-color: white;
		margin: 15% auto;
		padding: 20px;
		width: 40%;
		border: 1px solid black;
		border-radius: 10px;
		box-shadow: 5px 10px 8px 10px rgba(73, 18, 18, 1);
		position: relative;
		animation-name: animatetop;
  		animation-duration: 0.4s
	}

	.close {
		color: #aaa;
		float: right;
	 	font-size: 28px;
	 	font-weight: bold;
	}

	.close:hover, .close:focus {
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	}

	@keyframes animatetop {
	  from {top: -300px; opacity: 0}
	  to {top: 0; opacity: 1}
	}
	/******** Fin del modal ************/

	.s7_portrait {
		display: none;
	}


/************************************************************************
*					Configuración para móviles											*
************************************************************************/
@media (max-width:480px) {	
	
	#contenedor {
		font-size: 80%;
	}

	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], select, [type="tel"] {
		font-size: 1em;
	}

	input[type="checkbox"] {
		vertical-align: middle;
	}

	button[type="button"], button[type="submit"], .button {
		font-size: 1.2em;
	}

	label {
		margin-left: 0px;
		width: 100px;
	}

	form .label1, label.label3 {
		margin-left: 0px;
		width: 20%;
		//font-size: 1.1em;
	}
		
	.descripcion {	
		width: 68%;
	}

	/*label.label3 {
		width: 57px;
		font-size: 1.1em;
	}*/

	.numCliente {
		width: 28%;
	}

	.icon_search {			
		width: 15px;
		height: 11px;					
	}

	form .newOrderRows {
		margin-left: 10px;
	}

	.newOrderRowsCheck {
		display: none;
		width: 19%;
		margin-left: 2%;
	}

	.showInMovil, label.showInMovil {
		display: inline-block;
		margin-bottom: 5px;
	}

	.pdf {
		width: 9%;
	}

	form .margen {
		margin-right: 1px;
	}

	form .margen3 {
		margin-right: 0px;
	}

	form .showInDesktop {
		display: none;
	}

	form .labelPrecioMovil {
		width: 10%;
		margin-left: 2%;
	}
	
	form .stock {
		margin-left: 2%;
	}

	img.trashCall {
		width: 7%;
	}

	.error_narrow {
		width: 35%;
	}

	.label1nbsp {
		width: 60px;
	}

	#bastidor_error {
		margin-bottom: 20px;
	}

	#pedidosForm label.error {
		width: 35%;
	}

	.selectCallcenter {
		margin-bottom: 15px;
	}
	
	.labelTipoCliente {
		width: 23%;
	}

	#new_client select {
		width: 23%;
	}

	.callcenterOrder {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
		display: block;
	}

	h1 {
		font-size: 1.6em;
	}

	#nombre_via {
		width: 55%;
	}

	#nombreViaError {
		width: 25%;
	}

	#localidad, #provincia {
		width: 45%;
	}

	footer {
		margin-bottom: 10px;
		font-size: 0.8em;
	}

	.call_order_labels_head_descr, .call_order_labels_head_cant, .call_order_labels_head_pvp, .call_order_labels_head_dto, 
	.call_order_labels_head_neto, .call_order_labels_head_stock {
		display: none;
	}

	.totales {
		width: 90%;
		text-align: right;		
	}

	fieldset {
		text-align: center;
		width: 75%;
	}

	.s7_portrait {
		display: inline-block;
	}

	.order_rows {
		font-size: 1.1em;
		padding-left: 5%;
	}

	.order_rows label{		
		width: 24%;
	}

	.totales {
		font-size: 1em;
	}

	#bastidor {
		width: 60%;
	}

	#empresa {
		width: 73%;
	}
}

/************************************************************************
*			iphone 6/7/8 horizontal														*
************************************************************************/
@media (min-width:481px) and (max-width: 668px) {
	#contenedor {
		font-size: .9em;
	}


	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], select, [type="tel"] {
		font-size: .8em;
	}

	input[type="checkbox"] {
		vertical-align: middle;
	}

	button[type="button"], button[type="submit"], .button {
		font-size: .8em;
	}

	form .label1 {
		margin-left: 5px;
		width: 15%;
	}

	label.label3 {
		width: 60px;
	}

	.cantidad {
		margin-right: 70px;
	}

	.icon_search {			
		width: 15px;
		height: 11px;			
	}

	#lineas p {
		margin-top: 15px;
	}	

	.newOrderRowsCheck {
		display: none;
	}

	form .stock {
		margin-left: 1%;
	}

	.cantidad {
		margin-right: 0px;
	}

	#bastidor_error {
		margin-bottom: 0px;
	}

	.error_narrow {
		width: 22%;
		//margin-right: 280px;
	}

	form p.nota {
		margin-left: 5px;
	}

	form .trashCall {
		margin-left: 2%;
		width: 4%;
		
	}

	form .labelPrecioMovil {
		width: 7%;
	}

	#cifError {
		color: red;
		width: 60%;
	}

	.numCliente {
		width: 25%;
	}

	.labelTipoCliente {
		width: 20%;
	}

	#new_client select {
		 width: 12%;
	}

	.pdf {
		width: 6%;
	}

	.callcenterOrder {
		font-size: 1.1em;
	}

	fieldset {
		text-align: center;
	}

	h1 {
		font-size: 1.5em;
	}

	#nombre_via {
		width: 45%;
	}

	form .showInDesktop {
		display: none;
	}

	.call_order_labels_head_descr, .call_order_labels_head_cant, .call_order_labels_head_pvp, .call_order_labels_head_dto, 
	.call_order_labels_head_neto, .call_order_labels_head_stock {
		margin-right: .2%;
	}

	.call_order_labels_head_descr {
		margin-left: .5%;
		width: 42%;			
	}

	.call_order_labels_head_cant {
		width: 7.2%;						
	}

	.call_order_labels_head_pvp {
		width: 9.4%;					
	}

	.call_order_labels_head_dto {
		width: 6.2%;					
	}

	.call_order_labels_head_neto, .call_order_labels_head_stock {
		width: 9.5%;				
	}

	#agregaLinea input[type="text"].margen {
		margin-right: 3px;
	}

	#agregaLinea .margen5 {
	 	margin-left: 1.2%;
	}

	.order_rows {
		//text-align: center;
		padding-left: 4%;
	}

	.totales {
		width: 77%;
		text-align: right;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		font-size: 0.8em;
		margin-bottom: 10px;
	}

	.s7_portrait {
		display: none;
	}
}

/************************************************************************
*			Configuración para tablets portrait (retrato)						*
************************************************************************/
@media (min-width:669px) and (max-width: 768px) {
	#contenedor {
		font-size: .7em;
	}

	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], select, [type="tel"] {
		font-size: .7em;
	}

	button[type="button"], button[type="submit"], .button {
		font-size: 1em;
	}

	input[type="checkbox"] {
		vertical-align: middle;
	}

	form .label1 {
		margin-left: 0px;
		width: 64px;
	}

	label.label3 {
		width: 45px;
	}

	.cantidad {
		margin-right: 70px;
	}

	.icon_search {			
		width: 15px;
		height: 11px;			
	}

	#lineas p {
		margin-top: 15px;
	}	

	.newOrderRowsCheck {
		display: none;
	}

	form .stock {
		//margin-left: 9%;
	}

	.cantidad {
		margin-right: 0px;
	}

	#bastidor_error {
		margin-bottom: 0px;
	}

	.error_narrow {
		width: 28%;
	}

	form p.nota {
		margin-left: 10px;
	}

	.labelTipoCliente {
		width: 11%;
	}

	.numCliente {
		width: 15%;
	}

	.callcenterOrder {
		width: 80%;
		margin-left: 9.7%;
		font-size: 1.2em;
	}

	input[type="checkbox"] {
		margin-left: 15px;
	}

	form .showInDesktop {
		display: none;
	}

	.pdf {
		width: 6%;
	}

	.call_order_labels_head {
		background: yellow;
	}
}

/***************************************************************
*			 Configuración para tablets landscape (horizontal)		*
***************************************************************/
@media (min-width: 769px) and (max-width: 1050px) {
	#contenedor {
		font-size: .8em;
	}

	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], select, [type="tel"] {
		font-size: .8em;
	}

	button[type="button"], button[type="submit"], .button {
		font-size: 1em;
	}

	form .stock {
		margin-left: 9%;
	}

	.labelTipoCliente {
		width: 10%;
	}

	.numCliente {
		width: 13%;
	}	
	
}

/***************************************************************
*			 Configuración para Iphone X/XS								*
***************************************************************/
@media (min-width: 769px) and (max-width: 812px) {
	#contenedor {
		font-size: .6em;
	}

	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], [type="tel"] {
		font-size: .6em;
	}

	
	button[type="button"], button[type="submit"], .button {
		font-size: 1em;
	}

	form .stock {
		margin-left: 7%;
		vertical-align: middle;
	}

	.icon_search {
		width: 15px;
		height: 11px;
	}

	form p.nota {
		margin-left: 35px;
	}

	.pdf {
		width: 6%;
	}
}

/***************************************************************
*			 Configuración para KINDLE FIRE								*
***************************************************************/
@media (min-width: 769px) and (max-width: 800px) {
	#contenedor {
		font-size: .67em;
	}

	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], select, button[type="button"], button[type="submit"], .button, [type="tel"] {
		font-size: .67em;
	}

	form .stock {
		margin-left: 5%;
		vertical-align: middle;
	}

	.icon_search {
		width: 15px;
		height: 11px;
	}

	.labelTipoCliente {
		width: 12%;
	}
	
	.numCliente {
		width: 14%;
	}
}


/***************************************************************
*			 Configuración S9 horizontal									*
***************************************************************/
@media (min-width:668px) and (max-width: 740px) {
	#contenedor {
		font-size: .7em;
	}

	input[type="text"], input[type="email"], input[type="button"], input[type="submit"], select, [type="tel"] {
		font-size: .7em;
	}

	
	button[type="button"], button[type="submit"], .button {
		font-size: 1em;
	}

	form p.nota {
		margin-left: 5px;
	}

	.labelTipoCliente {
		width: 12%;
	}
	
	.numCliente {
		width: 15%;
	}
}

