services:

  db:
    build: ./MariaDB/    
    container_name: db
    restart: always
    ports:
      - 3306:3306
    labels:
      com.symfony.server.service-prefix: 'DATABASE'
    environment:
      - ./MariaDB/.env
      
    volumes: 
        - db_vol:/var/lib/mysql
        - "./log/db:/var/log"

  phpmyadmin:
    command: ["apache2-foreground"]
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
      
  web:
    command: ["apache2-foreground"]      
    build: .
    container_name: php
    ports:
    - "80:80"
    - "9003:9003"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tty: true
    volumes: 
      - "./:/var/www"
      - ./docker-php-ext-xdebug.ini:/usr/local/etc/php/php.ini 
      - "./log/apache:/var/log/apache2"
      - "./log/php:/var/log"

volumes:
  db_vol: 

###> doctrine/doctrine-bundle ###
  #database:
    #image: postgres:${POSTGRES_VERSION:-13}-alpine
    #environment:
      #POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      #POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ChangeMe}
      #POSTGRES_USER: ${POSTGRES_USER:-symfony}
    #volumes:
      #- db-data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

#volumes:
###> doctrine/doctrine-bundle ###
  #db-data:
###< doctrine/doctrine-bundle ###
