{% extends 'main_menu/base.html.twig' %}

{% block title %}Clientes - Nuevo{% endblock %}

{% block body %}
    <h2>Crea nuevo Cliente</h2>
    <div id="datos">				
		<div id="gif">
							
		</div>
	</div>

    {{ include('cliente/_form.html.twig') }}        
    
{% endblock %}
