{% extends 'main_menu/base.html.twig' %}

{% block title %}Autogest - Nuevo artículo{% endblock %}

{% block body %}
    <h2>Nuevo Artículo</h2>

    {{ include('producto/_form.html.twig') }}
   
{% endblock %}
