{% extends 'main_menu/base.html.twig' %}

{% block title %}AutoGest - Error{% endblock %}

{% block body %}	
	<p class="alert">No tiene permiso.</p>
	<h2 class="center">Acceso Denegado</h2>	
{% endblock %}
