{% extends 'main_menu/base.html.twig' %}

{% block title %}AutoGest - Error{% endblock %}

{% block body %}	
	<p class="center">La página o la ruta a la que intenta acceder no existe.</p>	
	<h2 class="center">Página no encontrada!</h2>	
{% endblock %}
