{% extends 'main_menu/base.html.twig' %}

{% block title %}New Familia{% endblock %}

{% block body %}
    <h1>Create new Familia</h1>

    {{ include('familia/_form.html.twig') }}

    <a href="{{ path('familia_index') }}">back to list</a>
{% endblock %}
