{% extends 'base.html.twig' %}

{% block title %}New TipoEstado{% endblock %}

{% block body %}
    <h1>Create new TipoEstado</h1>

    {{ include('tipo_estado/_form.html.twig') }}

    <a href="{{ path('tipo_estado_index') }}">back to list</a>
{% endblock %}
