{% extends 'main_menu/base.html.twig' %}

{% block title %}Edit PedidoCallCenter{% endblock %}

{% block body %}
    <h2>Editar Pedido de Call Center</h2>
    <div id="datos">				
		<div id="gif">
							
		</div>
	</div>

    {{ include('pedido_call_center/_form_edit.html.twig', {'button_label': 'Actualizar'}) }}   
	<fieldset class="showUserControls"> 
    	{{ include('pedido_call_center/_delete_form.html.twig') }}
    </fieldset>
{% endblock %}
