{% extends 'main_menu/base.html.twig' %}

{% block title %}Autogest - Nuevo Pedido Call{% endblock %}

{% block body %}
    <h2>Nuevo Pedido de Call Center</h2>
    <div id="datos">				
		<div id="gif">
							
		</div>
	</div>

    {{ include('pedido_call_center/_form.html.twig') }}
    
{% endblock %}
