<ul class="menuRecambios">
	<li>
		<a id="/pedido/call/center" class="ajaxMenu pedidosCallCenterMenus" href="#">Listado Completo</a>
	</li>									
</ul>
<ul class="menuRecambios">
	<li>
		<a id="/pedido/call/center/search" class="ajaxMenu pedidosCallCenterMenus" href="#">Búsqueda General</a>
	</li>									
</ul>
