<ul class="menuRecambios">
	<li>
		<a class="ajaxMenu" href="{{ path('pedido_call_center_index') }}" onclick="menuConsultaPedidos()">Listado Completo</a>
	</li>									
</ul>
<ul class="menuRecambios">
	<li>
		<a class="ajaxMenu" href="{{ path('pedido_search') }}" onclick="menuConsultaPedidos()">Búsqueda General</a>
	</li>									
</ul>
