<ul class="menuRecambios">
	<li>
		<a class="ajaxMenu" href="{{ path('producto_new') }}" onclick="menuConsultaPedidos()">Crear Referencia</a>
	</li>									
</ul>
<ul class="menuRecambios">
	<li>
		<a class="ajaxMenu" href="{{ path('producto_index') }}" onclick="menuConsultaPedidos()">Listado Completo</a>
	</li>									
</ul>
<ul class="menuRecambios">
	<li>
		<a class="ajaxMenu" href="{{ path('producto_search') }}" onclick="menuConsultaPedidos()">Búsqueda General</a>
	</li>									
</ul>
