<ul class="menuRecambios">
	<li>
		<a id="/producto/new" class="ajaxMenu referenciasMenus" href="#">Crear Referencia</a>
	</li>									
</ul>
<ul class="menuRecambios">
	<li>
		<a id="/producto" class="ajaxMenu referenciasMenus" href="#">Listado Completo</a>
	</li>									
</ul>
<ul class="menuRecambios">
	<li>
		<a id="/producto/search" class="ajaxMenu referenciasMenus" href="#">Búsqueda General</a>
	</li>									
</ul>
