controllers:
    resource: ../src/Controller/
    type: attribute

kernel:
    resource: ../src/Kernel.php
    type: attribute

index:
    path: /
    controller: App\Controller\LoginFormController::login
