{% extends 'main_menu/base.html.twig' %}

{% block title %}Edit Marca{% endblock %}

{% block body %}
    <h2>Edita Marca</h2>
	{{ include('marca/_form.html.twig', {'button_label': 'Actualizar'}) }}
	{{ include('marca/_delete_form.html.twig') }}	
{% endblock %}
