{% extends 'main_menu/base.html.twig' %}

{% block title %}Marca - Nueva marca{% endblock %}

{% block body %}
    <h2>Crea una nueva Marca</h2>
    <div id="datos">				
		<div id="gif">
							
		</div>
	</div>

    {{ include('marca/_form.html.twig') }}
    
{% endblock %}
