<div id="menus">
	<ul class="menus">
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECAMBIOS') or is_granted('ROLE_COMERCIAL') %}
			<li>
				<a id="recambios_main_menu" href="#">Recambios</a>
			</li>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TALLER') %}						
			<li>
				<a class="menusPostVenta" id="taller" href="#">Taller</a>	
			</li>
		{% endif %}		
		{# {% if is_granted('ROLE_ADMIN') %}
			<li>
				<a class="menusPostVenta" id="visitas" href="#">Visitas</a>	
			</li>
		{% endif %}	#}
		<li>
			<a id="clientes_main_menu" href="#">Clientes</a>	
		</li>				
	</ul>
</div>
