<ul class="menuClientes">
	<li>
		<a class="ajaxMenu" href="{{ path('cliente_new') }}" onclick="menuConsultaPedidos()">Crear Cliente</a>
	</li>
	<li>
		<a class="ajaxMenu" href="{{ path('cliente_index') }}" onclick="menuConsultaPedidos()">Listado Completo</a>
	</li>
	<li>
		<a class="ajaxMenu" href="{{ path('client_search') }}" onclick="menuConsultaPedidos()">Búsqueda General</a>
	</li>									
</ul>
