<ul class="menuClientes">
	<li>
		<a id="/cliente/new" class="ajaxMenu menusClientesLink" href="#">Crear Cliente</a>
	</li>
	<li>
		<a id="/cliente" class="ajaxMenu menusClientesLink" href="#">Listado Completo</a>
	</li>
	<li>
		<a id="/cliente/search" class="ajaxMenu menusClientesLink" href="#">Búsqueda General</a>
	</li>									
</ul>
