{% extends 'main_menu/base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h2>Cambiar contraseña de {{ user.nombre }}</h2>
    <div id="datos">				
		<div id="gif">
							
		</div>
	</div>

    {{ include('user/_form_change_passwd.html.twig', {'button_label': 'Actualizar'}) }}   	     
{% endblock %}
