{% extends 'main_menu/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %} 
	<div id="datos">				
		<div id="gif">
							
		</div>
	</div>   

    {{ include('user/_form.html.twig') }}
    
{% endblock %}
